<!DOCTYPE html>
<html>
  <head>
    <title>BrainDrain</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all','data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application','data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.mn.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse", style="background-color: black", id="header">
      <div class="container">
        <%= link_to "BrainDrain", '#', id: "logo" %>
        <ul class="nav nav-pills nav-fill", style="font-color": black">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"">Service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Content</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Testimony</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <div class="pull-right">
          <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </div>
      </form>
        </ul>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>